@media (min-width: 576px) {
  .title-responsive {
    font-size: 35px;
  }

  .title-secondary-responsive {
    font-size: 30px;
  }

  .text-responsive {
    font-size: 25px;
  }
}

@media (min-width: 992px) {
  .title-responsive {
    font-size: 30px;
  }

  .title-secondary-responsive {
    font-size: 20px;
  }

  .text-responsive {
    font-size: 15px;
  }
}
